body {
  background-color: #f7f1e3;
}
/** NavBar **/
.location {
  width: 35px;
  height: 35px;
  margin: 10px;
  color: #3d3d3d;
}

a.nav-link.active,
a.nav-link {
  color: #ffffff;
  letter-spacing: 3px;
  font-family: "Rubik Mono One", sans-serif;
}
a.nav-link.active::hover,
a.nav-link::hover {
  color: grey;
}

img#icon {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 200px;
  margin-left: 875px;
}
/** Katie Image **/
.headshot-img {
  height: 300px;
}
.card {
  background-color: white;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
}

/** Portfolio Cards **/
.card-deck {
  margin: 10px;
}

.card.text-center {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.card-img-top {
  display: flex;
  justify-items: center;
}
/** Footer **/
footer {
  display: flex;
  justify-content: center;
}
